@import "tailwindcss";

:root {
  --background: oklch(0.95 0 0);
  --foreground: #171717;
  --text-primary: oklch(0.17 0.0041 285.95);
  --text-secondary: oklch(55% 0.0053 286.3);
  --code: oklch(30% 0.0161 279.24);
  --code-text: oklch(95.63% 0.0053 286.3);
  /* Nextra color overrides */
  --x-color-gray-400: oklch(70% 0.0053 286.3);
  --x-color-gray-500: oklch(55% 0.0053 286.3);
  --x-color-neutral-400: oklch(70% 0.0053 286.3);
  --x-color-primary-100: oklch(0.93 0.034 272.788);
  --x-color-primary-600: oklch(0.585 0.233 277.117);
  --x-color-primary-800: oklch(0.398 0.195 277.366);
}

@theme inline {
  --color-background: var(--background);
  --color-background-accent: var(--background-accent);
  --color-foreground: var(--foreground);
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-code: var(--code);
  --color-code-text: var(--code-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-pretendard: var(--font-pretendard);
  --font-monaspace: var(--font-monaspace);
}

.dark {
  --background: oklch(0.17 0.0041 285.95);
  --background-accent: oklch(0.24 0.0041 285.95);
  --foreground: oklch(80% 0.0053 286.3);
  --text-primary: oklch(95.63% 0.0053 286.3);
  --text-secondary: oklch(70% 0.0053 286.3);
  --code: oklch(22% 0.0161 279.24);
  --code-text: oklch(95.63% 0.0053 286.3);
  /* Nextra color overrides */
  --x-color-gray-400: oklch(70% 0.0053 286.3);
  --x-color-neutral-400: oklch(70% 0.0053 286.3);
  --x-color-primary-400: oklch(0.673 0.182 276.935);
  --x-color-primary-600: oklch(0.585 0.233 277.117);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard);
}

@layer utilities {
  body {
    @apply text-pretty! font-medium!;
  }

  h1 {
    @apply text-primary!;
  }

  div {
    @apply text-secondary!;
  }

  /* prev/next page links */
  div:has(> a:first-child):has(> a:last-child) > a {
    @apply text-secondary;
  }

  /* sidebar */
  aside div {
    @apply bg-background! font-semibold;
  }

  /* mobile sidebar */
  .nextra-mobile-nav {
    @apply bg-background!;
  }

  p {
    @apply text-secondary!;
  }

  li {
    @apply text-secondary;
  }

  /* links */
  p a {
    @apply text-indigo-500!;
  }

  blockquote {
    @apply not-italic! border-l-3! border-indigo-500! bg-indigo-600/20 py-3 pr-6 rounded-r;
  }

  .blockquote-header {
    @apply text-primary text-lg block;
  }

  /* search bar placeholder */
  .nextra-search input::placeholder {
    @apply text-secondary!;
  }

  /* search bar keyboard icon */
  kbd {
    @apply text-primary!;
  }

  .nextra-breadcrumb span {
    @apply text-secondary;
  }

  /* inline code */
  .nextra-code {
    @apply font-monaspace text-code-text bg-code! px-2! py-1!;
  }

  .nextra-callout {
    @apply bg-background-accent;
  }
}
